@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p,
ul,
a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--black-bg-color);
  color: var(--pink-text-color);
  font-family: var(--primary-text-font);

  // phone
  @media screen and (max-width: 767.98px) {
    background-image: url(../images/main-bg/bg-body-phone.png);
    background-repeat: no-repeat;
    background-position: center top;
  }

  // tablet

  @media screen and (min-width: 768px) {
    background-image: url(../images/main-bg/bg-body-tablet.png);
    background-repeat: no-repeat;
    background-position: center top;
  }

  // deckstop

  @media screen and (min-width: 1280px) {
    background-image: url(../images/main-bg/bg-body-deckstop.png);
    background-repeat: no-repeat;
    background-position: center top;
  }
  &.no-scroll {
    overflow: hidden;
  }
}
::-webkit-scrollbar {
  // background: bisque;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #a91079);
  border-radius: 6px;
}
