 {{#each this}}
 <ul id="{{url}}" class="event">
        <li class="event__img">
          <img src={{images.[0].url}} alt="Sports event" />
        </li>
        <li class="event__title"><h2>{{name}}</h2></li>
        <li class="event__start"><span>2022-02-02</span></li>
        <li class="event__place">
          <svg width="10" height="16">
            <use href="./images/svg/symbol-defs.svg#Vector"></use>
          </svg>
          <span class="location">Palace of Cauntry</span>
        </li>
</ul>
{{/each}}

