<div class="modal visually-hidden">
    <button class="modal__menu-btn" type="button">
        <!-- <svg class="modal__svg"width="17" height="17">
            <use class="burger-menu__close" href="/icon.a16f371a.svg#close"></use>
                   </svg> -->
    </button>
    <!-- <img class="modal__img"src="#" alt=""> -->
    <ul class="modal__list">
        <li>
            <h2 class="modal__list-title">INFO</h2>
            <p class="modal__list-text">Atlas Weekend is the largest music festival in Ukraine.
                More than 200 artists will create a proper music festival atmosphere on 10 stages</p>
        </li>
        <li class="modal__list-item">
            <h2 class="modal__list-title">WHEN</h2>
            <p class="modal__list-text">2021-06-09</p>
            <p class="modal__list-text secondP">20:00 (Kyiv/Ukraine)</p>
        </li>
        <li class="modal__list-item">
            <h2 class="modal__list-title">WHERE</h2>
            <p class="modal__list-text">Kyiv, Ukraine</p>
            <p class="modal__list-text secondP">VDNH</p>
        </li>
        <li class="modal__list-item">
            <h2 class="modal__list-title">WHO</h2>
            <p class="modal__list-text">The Black Eyed Peas</p>
        </li>
        <li class="modal__list-item">
            <h2 class="modal__list-title">PRICES</h2>
            <p class="modal__list-text">Standart 300-500 UAH</p>
            <!-- <svg width="17" height="17">
                <use class="burger-menu__close" href="/icon.a16f371a.svg#close"></use>
            </svg> -->
            <button class="modal__list-btn">BUY TICKETS</button>
            <p class="modal__list-text">Standart 300-500 UAH</p>
            <!-- <svg width="17" height="17">
                <use class="burger-menu__close" href="/icon.a16f371a.svg#close"></use>
            </svg> -->
            <button class="modal__list-btn">BUY TICKETS</button>
            <button class="modal__list-btn-more">MORE FROM THIS AUTHOR</button>
        </li>
    </ul>

</div>