<div class="is-hidden backdrop" data-modal>
  <div class="modal">
    <button class="modal__menu-btn-close" type="button" data-modal-close>
      <svg class="modal__svg" width="17" height="17">
        <use class="burger-menu__close" href="./images/svg/symbol-defs.svg#close"></use>
      </svg>
    </button>
    <div class="modal__wrapper">
      <img class="modal__img" src="./images/image.jpg" alt="" />
      <ul class="modal__list">
        <li>
          <h2 class="modal__list-title">INFO</h2>
          <p class="modal__list-text">
            Atlas Weekend is the largest music festival in Ukraine. More than
            200 artists will create a proper music festival atmosphere on 10
            stages
          </p>
        </li>
        <li class="modal__list-item">
          <h2 class="modal__list-title">WHEN</h2>
          <p class="modal__list-text whenDate">2021-06-09</p>
          <p class="modal__list-text secondP">20:00 (Kyiv/Ukraine)</p>
        </li>
        <li class="modal__list-item">
          <h2 class="modal__list-title">WHERE</h2>
          <p class="modal__list-text whereCityCountry">Kyiv, Ukraine</p>
          <p class="modal__list-text secondP whereInfo">VDNH</p>
        </li>
        <li class="modal__list-item">
          <h2 class="modal__list-title">WHO</h2>
          <p class="modal__list-text whoInfo">The Black Eyed Peas</p>
        </li>
        <li class="modal__list-item">
          <h2 class="modal__list-title">PRICES</h2>
          <p class="modal__list-text dash">
            <svg class="modal__svg" width="24" height="16">
              <use class="burger-menu__close" href="./images/svg/symbol-defs.svg#ticket">
              </use>
            </svg>
            <span class="modal__standart">Standart 300-500 UAH</span>
          </p>
          <!-- <a class="modal__list-btn" href="">BUY TICKETS</a> -->
          <div class="btn-wrapper"><button class="modal__list-btn">BUY TICKETS</button></div>
          <p class="modal__list-text dash">
            <svg class="modal__svg" width="24" height="16">
              <use class="burger-menu__close" href="./images/svg/symbol-defs.svg#ticket"></use>
            </svg><span class="modal__vip">VIP 1000-1500 UAH</span>
          </p>
          <div class="btn-wrapper">
            <button class="modal__list-btn">BUY TICKETS</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="btn-wrapper-more">
      <button class="modal__list-btn-more">MORE FROM THIS AUTHOR</button>
    </div>
  </div>
</div>
</div>