<main>
  <section class="container">
    <div class="events">
      <!-- <h1 class="visually-hidden">Content</h1> -->

      <ul id="1" class="event">
        <li class="event__img">
          <img src="./images/test.jpg" alt="Sports event" />
        </li>
        <li class="event__title"><h2>MONATIK</h2></li>
        <li class="event__start"><span>2022-02-02</span></li>
        <li class="event__place">
          <svg width="10" height="16">
            <use href="./images/svg/symbol-defs.svg#Vector"></use>
          </svg>
          <span class="location">Palace of Cauntry</span>
        </li>
      </ul>
      <ul id="1" class="event">
        <li class="event__img">
          <img src="./images/test.jpg" alt="Sports event" />
        </li>
        <li class="event__title"><h2>MONATIK</h2></li>
        <li class="event__start"><span>2022-02-02</span></li>
        <li class="event__place">
          <svg width="10" height="16">
            <use href="./images/svg/symbol-defs.svg#Vector"></use>
          </svg>
          <span class="location">Palace of Cauntry</span>
        </li>
      </ul>
      <ul id="1" class="event">
        <li class="event__img">
          <img src="./images/test.jpg" alt="Sports event" />
        </li>
        <li class="event__title"><h2>MONATIK</h2></li>
        <li class="event__start"><span>2022-02-02</span></li>
        <li class="event__place">
          <svg width="10" height="16">
            <use href="./images/svg/symbol-defs.svg#Vector"></use>
          </svg>
          <span class="location">Palace of Cauntry</span>
        </li>
      </ul>
      <ul id="1" class="event">
        <li class="event__img">
          <img src="./images/test.jpg" alt="Sports event" />
        </li>
        <li class="event__title"><h2>MONATIK</h2></li>
        <li class="event__start"><span>2022-02-02</span></li>
        <li class="event__place">
          <svg width="10" height="16">
            <use href="./images/svg/symbol-defs.svg#Vector"></use>
          </svg>
          <span class="location">Palace of Cauntry</span>
        </li>
      </ul>
    </div>
  </section>
</main>
