.container {
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;

        // phone
        @media screen and (max-width: 768px) {
            background-image: url(../images/main-bg/bg-body-phone.png);
            background-repeat: no-repeat;
            width: 320px;
            height: 2600px;
            background-size: 1500px;
            background-position: center;
        }

        // tablet

        @media screen and (min-width: 768px) {
            background-image: url(../images/main-bg/bg-body-tablet.png);
            background-repeat: no-repeat;
            width: 768px;
            height: 1605px;
            background-size: 1000px 2000px;
            background-position: center top;
        }

        @media screen and (min-width: 1280px) {

            background-image: url(../images/main-bg/bg-body-deckstop.png);
            background-repeat: no-repeat;
            width: 1280px;
            height: 2120px;
            background-size: 1500px;
            background-position: center;

            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;


            // background: rgb(2, 0, 36);
            //   background: linear-gradient(49deg, rgba(2, 0, 36, 1) 35%, rgba(121, 9, 113, 1) 100%, rgba(0, 212, 255, 1) 100%);


        }


        // &.no-scroll {
        //     overflow: hidden;
        // }
    }

}