.tui-pagination {
  margin: 0;
  height: 30px;
  line-height: normal;
  text-align: center;
  font-size: 0;
}

.tui-pagination .tui-page-btn {
  display: inline-block;
  position: relative;
  padding: 8px 0 6px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  vertical-align: middle;

  width: 25px;
  height: 30px;
  color: white;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 14px;
  border: 1px solid transparent;
  font-weight: bolder;

  &:hover {
    border: 1px solid #dc56c5;
    border-radius: 10px 0px;
    background: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px 4px rgba(220, 86, 197, 0.5);
  }
}
.dark .tui-pagination .tui-page-btn {
  color: black;
}
.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-last {
  background: url('../images/sp_btn.png') no-repeat 0 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
}

.tui-pagination .tui-ico-first {
  width: 11px;
  height: 10px;
  background-position: -13px 0px;
  // background-position: 0px 0px;
}
.dark .tui-pagination .tui-ico-first {
  background-position: 0px 0px;
}

.tui-pagination .tui-ico-prev {
  width: 6px;
  height: 10px;
  background-position: -26px -12px;
  // background-position: -26px 0px;
}
.dark .tui-pagination .tui-ico-prev {
  background-position: -26px 0px;
}

.tui-pagination .tui-ico-next {
  width: 6px;
  height: 10px;
  background-position: -21px -24px;
  // background-position: -13px -24px;
}
.dark .tui-pagination .tui-ico-next {
  background-position: -13px -24px;
}

.tui-pagination .tui-ico-last {
  width: 11px;
  height: 10px;
  // background-position: 0px -12px;
  background-position: -13px -12px;
}
.dark .tui-pagination .tui-ico-last {
  background-position: 0px -12px;
}

.tui-pagination .tui-is-disabled .tui-ico-prev {
  // background-position: -26px -12px;
  background-position: -26px 0px;
}
.dark .tui-pagination .tui-is-disabled .tui-ico-prev {
  background-position: -26px -12px;
}

.tui-pagination .tui-is-disabled .tui-ico-first {
  background-position: 0px 0px;
  // background-position: -13px 0px;
}
.dark .tui-pagination .tui-is-disabled .tui-ico-first {
  background-position: -13px 0px;
}

.tui-pagination .tui-is-disabled .tui-ico-next {
  // background-position: -21px -24px;
  background-position: -13px -24px;
}
.dark .tui-pagination .tui-is-disabled .tui-ico-next {
  background-position: -21px -24px;
}

.tui-pagination .tui-is-disabled .tui-ico-last {
  background-position: 0px -12px;
  // background-position: -13px -12px;
}
.dark .tui-pagination .tui-is-disabled .tui-ico-last {
  background-position: -13px -12px;
}

.tui-pagination .tui-is-disabled:hover {
  border-color: transparent;
}

.tui-page-inputs {
  display: inline-block;
  vertical-align: top;
}

#pagination.tui-pagination {
  .tui-page-btn.tui-is-selected {
    transform: scale(1.18);
    color: black;
    font-weight: bolder;
    border: 1px solid #dc56c5;
    border-radius: 10px 0px;
    cursor: pointer;
    background-color: #dc56c5;
    box-shadow: 0px 0px 5px 4px rgba(220, 86, 197, 0.5);
    font-size: 14px;

    width: 26px;
    height: 32px;
  }
}
.dark #pagination.tui-pagination {
  .tui-page-btn.tui-is-selected {
    color: #dc56c5;
    font-weight: bolder;
    border: 1px solid #dc56c5;

    background-color: black;
    box-shadow: 0px 0px 5px 4px rgba(220, 86, 197, 0.5);
  }
}
#pagination.tui-pagination {
  .tui-first,
  .tui-prev,
  .tui-next,
  .tui-last,
  .tui-prev-is-ellip,
  .tui-next-is-ellip {
    height: 30px;
  }
}
