#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: black;
}

.circles {
  width: 300px;
  height: 300px;
  position: relative;
  margin: auto;

  top: 25%;
}
.circles > * {
  background-color: transparent;
  box-sizing: border-box;
  border: 5px solid powderblue;
  border-top: 0 solid transparent;
  border-left: 0 solid transparent;
  border-radius: 50%;
  position: absolute;
  animation: spin 2s infinite linear alternate;
}

.circle1 {
  width: 300px;
  height: 300px;
  animation-delay: -5s;
  border-color: var(--title-text-animation-color);
  box-shadow: 0 0 5px var(--title-text-animation-color),
    0 0 15px var(--title-text-animation-color),
    0 0 20px var(--title-text-animation-color),
    0 0 40px var(--title-text-animation-color),
    0 0 60px var(--title-text-animation-color),
    0 0 10px var(--title-text-animation-color),
    0 0 98px var(--title-text-animation-color);
}
.circle2 {
  width: 280px;
  height: 280px;
  top: 10px;
  left: 10px;
  animation-delay: -4.9s;
  border-color: var(--title-text-animation-color);
  // box-shadow: 0 0 5px var(--title-text-animation-color),
  //   0 0 15px var(--title-text-animation-color),
  //   0 0 20px var(--title-text-animation-color);
}
.circle3 {
  width: 260px;
  height: 260px;
  top: 20px;
  left: 20px;
  animation-delay: -4.8s;
  border-color: var(--title-text-animation-color);
  // box-shadow: 0 0 5px var(--title-text-animation-color),
  //   0 0 15px var(--title-text-animation-color),
  //   0 0 20px var(--title-text-animation-color);
}
.circle4 {
  width: 240px;
  height: 240px;
  top: 30px;
  left: 30px;
  animation-delay: -4.7s;
  border-color: var(--title-text-animation-color);
  // box-shadow: 0 0 5px var(--title-text-animation-color),
  //   0 0 15px var(--title-text-animation-color),
  //   0 0 20px var(--title-text-animation-color);
}
.circle5 {
  width: 220px;
  height: 220px;
  top: 40px;
  left: 40px;
  animation-delay: -4.6s;
  border-color: var(--title-text-animation-color);
  // box-shadow: 0 0 5px var(--title-text-animation-color),
  //   0 0 15px var(--title-text-animation-color),
  //   0 0 20px var(--title-text-animation-color);
}
.circle6 {
  width: 200px;
  height: 200px;
  top: 50px;
  left: 50px;
  animation-delay: -4.5s;
  border-color: var(--title-text-animation-color);
  // box-shadow: 0 0 5px var(--title-text-animation-color),
  //   0 0 15px var(--title-text-animation-color),
  //   0 0 20px var(--title-text-animation-color);
}
.circle7 {
  width: 180px;
  height: 180px;
  top: 60px;
  left: 60px;
  animation-delay: -4.4s;
  border-color: var(--title-text-animation-color);
  // box-shadow: 0 0 5px var(--title-text-animation-color),
  //   0 0 15px var(--title-text-animation-color),
  //   0 0 20px var(--title-text-animation-color);
}
.circle8 {
  width: 160px;
  height: 160px;
  top: 70px;
  left: 70px;
  animation-delay: -4.3s;
  border-color: var(--title-text-animation-color);
  // box-shadow: 0 0 5px var(--title-text-animation-color),
  //   0 0 15px var(--title-text-animation-color),
  //   0 0 20px var(--title-text-animation-color);
}
.circle9 {
  width: 140px;
  height: 140px;
  top: 80px;
  left: 80px;
  animation-delay: -4.2s;
  border-color: var(--title-text-animation-color);
  box-shadow: 0 0 5px var(--title-text-animation-color),
    0 0 15px var(--title-text-animation-color),
    0 0 20px var(--title-text-animation-color),
    0 0 40px var(--title-text-animation-color),
    0 0 60px var(--title-text-animation-color),
    0 0 10px var(--title-text-animation-color),
    0 0 98px var(--title-text-animation-color);
  // box-shadow: 0 0 5px var(--title-text-animation-color),
  //   0 0 15px var(--title-text-animation-color),
  //   0 0 20px var(--title-text-animation-color);
}
.circle10 {
  width: 120px;
  height: 120px;
  top: 90px;
  left: 90px;
  animation-delay: -4.1s;
  border-color: var(--title-text-animation-color);
  // box-shadow: 0 0 5px var(--title-text-animation-color),
  //   0 0 15px var(--title-text-animation-color),
  //   0 0 20px var(--title-text-animation-color);
}
.circle11 {
  width: 100px;
  height: 100px;
  top: 100px;
  left: 100px;
  animation-delay: -4s;
  border-color: var(--title-text-animation-color);
  // box-shadow: 0 0 5px var(--title-text-animation-color),
  //   0 0 15px var(--title-text-animation-color),
  //   0 0 20px var(--title-text-animation-color);
}
.circle12 {
  width: 80px;
  height: 80px;
  top: 110px;
  left: 110px;
  animation-delay: -3.9s;
  border-color: var(--title-text-animation-color);
  // box-shadow: 0 0 5px var(--title-text-animation-color),
  //   0 0 15px var(--title-text-animation-color),
  //   0 0 20px var(--title-text-animation-color);
}
.circle13 {
  width: 60px;
  height: 60px;
  top: 120px;
  left: 120px;
  animation-delay: -3.8s;
  border-color: var(--title-text-animation-color);
  // box-shadow: 0 0 5px var(--title-text-animation-color),
  //   0 0 15px var(--title-text-animation-color),
  //   0 0 20px var(--title-text-animation-color);
}
.circle14 {
  width: 40px;
  height: 40px;
  top: 130px;
  left: 130px;
  animation-delay: -3.7s;
  border-color: var(--title-text-animation-color);
  // box-shadow: 0 0 5px var(--title-text-animation-color),
  //   0 0 15px var(--title-text-animation-color),
  //   0 0 20px var(--title-text-animation-color);
}
.circle15 {
  width: 20px;
  height: 20px;
  top: 140px;
  left: 140px;
  animation-delay: -3.6s;
  border-color: var(--title-text-animation-color);
  // box-shadow: 0 0 5px var(--title-text-animation-color),
  //   0 0 15px var(--title-text-animation-color),
  //   0 0 20px var(--title-text-animation-color);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scale-out-center {
  -webkit-animation: scale-out-center 1s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    infinite both;
  animation: scale-out-center 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
    both;
}
