.modal {
  //   display: block;
  width: 280px;
  background: #fff2fd;
  margin: 0 auto;
  padding: 25px;
  border-radius: 150px 0;
  //   justify-content: center;
  &__menu-btn {
    margin: 0 auto;
  }

  &__svg {
  }

  &__img {
  }

  &__list {
    margin-top: 40px;
    margin-bottom: 100px;
  }

  &__list-title {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: rgba(220, 86, 197, 1);
  }

  &__list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: rgba(14, 14, 14, 1);
  }

  &__list-item {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &__list-item:last-child {
    margin-bottom: 0;
  }

  &__list-btn {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background: #4c00fe;
    color: rgba(255, 255, 255, 1);
    border: inherit;
  }
  &__list-btn-more {
    margin-top: 16px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #4c00fe;
    padding: 10px 20px;
    padding: 10px 3px;
  }
}
.burger-menu {
  &__close {
  }

  &__menu {
  }
}
.secondP {
  margin-top: 3px;
}
