@import "../utils/variables"; // спинет общии стили

.events {
    //     position: relative;
    display: flex;
    flex-wrap: wrap;

    padding-top: 30px;
    padding-bottom: 30px;
    row-gap: 30px;
    column-gap: 20px;

    @media screen and (min-width: 768px) {
        row-gap: 42px;
    }

    @media screen and (min-width: 1280px) {
        row-gap: 59px;
    }
}

// -----------------------------------------
.event {
    position: relative;

    margin-left: auto;
    margin-right: auto;
    align-items: space-between;
    width: 130px;

    text-align: center;
    position: relative;

    @media screen and (min-width: 768px) {
        width: 152px;
    }

    @media screen and (min-width: 1280px) {
        width: 288px;
    }

    &::before {
        content: "";
        position: absolute;
        z-index: 0;
        width: 109px;
        height: 101px;
        right: 0;
        top: -9px;
        border: 1px solid var(--outline-border-color);
        box-sizing: border-box;
        border-radius: 50px 0px;

        @media screen and (min-width: 768px) {
            width: 120px;
            height: 112px;

            top: -10px;
        }

        @media screen and (min-width: 1280px) {
            width: 227px;
            height: 212px;

            top: -19px;
        }
    }

    &__img > img {
        position: relative;
        width: 120px;
        height: 151px;
        margin-right: auto;
        z-index: 10;

        border-radius: 50px 0px;

        @media screen and (min-width: 768px) {
            width: 141px;
            height: 178px;
        }

        @media screen and (min-width: 1280px) {
            width: 267px;
            height: 337px;
        }
    }
    &__title {
        margin-top: 8px;
    }
    &__title > h2 {
        width: 130px;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(17.07 / 14);
        margin-right: auto;
        margin-left: auto;

        @media screen and (min-width: 768px) {
            width: 152px;
            font-size: 16px;
            line-height: calc(19.5 / 16);
        }
        @media screen and (min-width: 1280px) {
            width: 288px;
        }
    }
    &__start {
        margin-top: 4px;
    }
    &__start > span {
        margin-right: auto;
        margin-left: auto;
        color: var(--primary-white-text-color);
        font-size: 14px;
        line-height: calc(17.07 / 14);
        font-style: 400;

        @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: calc(19.5 / 14);
        }
        @media screen and (min-width: 1280px) {
            width: 288px;
        }
    }
    &__place {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4px;

        color: var(--primary-white-text-color);
        & > svg {
            width: 6px;
            height: 9px;
            fill: var(--primary-white-text-color);

            @media screen and(min-width: 768px) {
                width: 9px;
                height: 12px;
            }
        }
        & > .location {
            display: inline-block;
            font-weight: 600;
            font-size: 12px;
            line-height: 1.22;
            margin-left: 4px;

            overflow: hidden;

            @media screen and (min-width: 768px) {
                font-size: 14px;
                line-height: 1.214;
            }
        }
    }
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-white-text-color);
    margin-top: 60px;
    width: 233px;
    height: 30px;

    &--is-hidden {
        width: 0;
        height: 0;
        display: none;
        visibility: hidden;
    }
}
// %page-position {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     box-sizing: border-box;
//     margin-left: 7px;
//     width: 30px;
//     height: 30px;
//     text-align: center;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.214;
// }

// %page-curent-page {
//     color: var(--pink-text-color);
//     border: 1px solid var(--pink-text-color);
//     border-radius: 10px 0;
//     cursor: pointer;
// }

// .focusPage {
//     @extend %page-curent-page;
// }

// .page {
//     @extend %page-position;

//     &:hover {
//         @extend %page-curent-page;
//     }
// }
// .page-dots {
//     @extend %page-position;

//     &--start {
//         @extend %page-position;
//         display: none;
//     }
// }
// $colors: (
//   font-main-color: #dc56c5,
//   font-main-color-transparent: #dc38c54d,
//   font-second-color: #fff,
//   font-gray-color: #939393,
//   font-dark-color: #0e0e0e,
//   bg-color: #0e0e0e,
//   bg-modal: #fff2fd,
//   button-color: #4c00fe,
// );

// $fonts: (
//   "main-Montserrat": (
//     "Montserrat",
//     sans-serif,
//   ),
//   "second-raleway": (
//     "Raleway",
//     sans-serif,
//   ),
// );
